@charset "UTF-8";
.ui-dialog-mask { background-color:#000; filter:alpha(opacity=0); opacity:0; height:100%;width:100%;display:none;overflow:hidden;left:0;top:0;position:fixed;
}
.ui-dialog {
    *zoom:1;
    _float: left;
    position: relative;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .15s ease-in-out;
}
.ui-dialog-show .ui-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ui-dialog-focus .ui-dialog {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.ui-dialog-modal .ui-dialog {
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, .3);*/
}
.ui-dialog-grid {
    width: auto;
    margin: 0;
    border: 0 none;
    border-collapse:collapse;
    border-spacing: 0;
    background: transparent;
}
.ui-dialog-header,
.ui-dialog-body,
.ui-dialog-footer {
    padding: 0;
    border: 0 none;
    text-align: left;
    background: transparent;
}
.ui-dialog-header {
    white-space: nowrap;
    border-bottom: 1px solid #E5E5E5;
}

.ui-dialog-close {
    text-decoration:none;
    position: absolute;
    float: right;
    top: 13px;
    right: 13px;
    height: 26px;
    padding: 0 4px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer;
    background: transparent;
    _background: #FFF;
    border: 0;
    -webkit-appearance: none;
}
.ui-dialog-close:hover,
.ui-dialog-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.ui-dialog-title {
    margin: 0;
    line-height: 1.428571429;
    min-height: 16.428571429px;
    padding: 15px;
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: default;
}
.ui-dialog-content {
    padding: 20px;
}
.ui-dialog-footer {
    padding:20px;
    padding-top:0;
}
.ui-dialog-buttons {
    text-align:center;
    white-space: nowrap;
    user-select:none;-moz-user-select: none;-webkit-user-select: none; -ms-user-select: none;
    font-size:0;
}
.ui-dialog-button{
    margin-left:20px;
    cursor: pointer; 
    display: inline-block; 
    text-align: center;
    height:30px;
    line-height:30px;
    padding:0 20px;
    width:auto;
    outline:none;
    font-size:14px;
    border-radius:4px;
    border: 1px solid transparent;
}
.ui-dialog-buttons > .ui-dialog-button:first-child{
    margin-left:0;
}

.ui-dialog-button:hover,
.ui-dialog-button:focus {
  color: #333333;
  text-decoration: none;
}

.ui-dialog-button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


/*.ui-dialog-button-disabled {
  pointer-events: none;
  
}
*/

.ui-dialog-button {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.ui-dialog-button:hover,
.ui-dialog-button:focus,
.ui-dialog-button:active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}


.ui-dialog-button-disabled,
.ui-dialog-button-disabled:hover,
.ui-dialog-button-disabled:focus,
.ui-dialog-button-disabled:active {
  background-color: #ffffff;
  border-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-dialog-button-focus {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.ui-dialog-button-focus:hover,
.ui-dialog-button-focus:focus,
.ui-dialog-button-focus:active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}


.ui-dialog-no-title .ui-dialog-header{
  border-bottom:none;
}
.ui-dialog-no-title .ui-dialog-title{
  display:none;
}